body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

.item
	height: 650px
	background-color: #e7e7e7
	margin 5px

.item-image
	display: block
	margin: auto

.item-title
	padding 10px
	font-size: 18px
	text-align: center

.item-author
	padding 10px

.item-image
	display: block
	margin: auto

.item-blurb
	padding 10px

.item-link
    text-decoration: underline
    color: #999
    font-size: 9px